import(survival)
useDynLib(HapEstXXR)
export( 
  allele1to2, 
  allele1toR, 
  allele2to1, 
  allele2toR, 
  alleleRto1, 
  alleleRto2, 
  catt, 
  coding.baseline.allele, 
  dec2bin, 
  hapest.caco,
  hapest.gaussian,
  itegeppXXR, 
  maf, 
  makeHaploviewInputFile, 
  makePlinkInputFile, 
  msr, 
  msr.binomial.forward.adjusted, 
  msr.binomial.forward.unadjusted, 
  msr.binomial.haplotype.test.adjusted, 
  msr.binomial.haplotype.test.unadjusted, 
  msr.families.unadjusted, 
  msr.gaussian.forward.adjusted, 
  msr.gaussian.forward.unadjusted, 
  msr.gaussian.haplotype.test.adjusted, 
  msr.gaussian.haplotype.test.unadjusted, 
  multi.snp.test, 
  order.families, 
  powerset, 
  read.data, 
  read.haploview, 
  single.haplotype.test,
  single.haplotype.test.binomial, 
  single.haplotype.test.families, 
  single.snp.test, 
  single.snp.test.binomial, 
  single.snp.test.casecohort, 
  single.snp.test.casecohort.prentice, 
  single.snp.test.families, 
  single.snp.test.gaussian 
)
